<app-navbar></app-navbar>
<section class="content">
    <div class="container-fluid">
      <div class="row m-t-sm">
        <div class="col-md-15">
            <div class="panel">
                <div class="panel-body">
                    <div class="col-md-12 col-sm-12" id="form" style="display:block;">
                        <div class="panel panel-filled">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12"><h5 class="m-t-xs">Ingreso de Usuario</h5></div>
                                </div>
                                <form [formGroup]="usuarioForm" (ngSubmit)="editarUsuario()">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" formControlName="username"
                                            class="form-control" placeholder="Ingresar Username">
                                        <div class="text-danger"
                                            *ngIf="usuarioForm.get('username')?.hasError('required') && usuarioForm.get('username')?.touched">
                                            <span>El username <strong>es obligatorio</strong></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="text" formControlName="password" 
                                            class="form-control" placeholder="Ingresar Password">
                                        <div class="text-danger"
                                            *ngIf="usuarioForm.get('password')?.hasError('required') && usuarioForm.get('password')?.touched">
                                            <span>El password <strong>es obligatoria</strong></span>
                                        </div>
                                    </div>
                                    <div  class="col-sm-12 text-right">
                                        <div class="panel-body buttons-margin">
                                           <button type="submit" class="btn btn-w-md btn-success">Guardar</button>&nbsp;&nbsp;
                                           <button class="btn btn-w-md btn-warning" routerLink="/listar-usuarios">Cancelar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
      </div>
    </div>
</section>


